@model Group_C_06_SSAC.Models.salary

<div class="row">
    <div class="col-md-4">
        <form asp-action="payment" asp-controller="Home" method="post">
            <h1>Salary record</h1>
            <hr />
            <div class="text-success">
                @ViewBag.Success
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="id"></label>
                <input asp-for="id" class="form-control" placeholder="Enter Id">
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" placeholder="Enter name">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date"></label>
                <input asp-for="date" class="form-control">

            </div>
            <div class="form-group">
                <label asp-for="monthly"></label>
                <input asp-for="monthly" class="form-control" placeholder="Enter Amount">
                <span asp-validation-for="monthly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rent"></label>
                <input asp-for="rent" class="form-control" placeholder="Enter Amount">
                <span asp-validation-for="rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bonus"></label>
                <input asp-for="bonus" class="form-control" placeholder="Enter Amount">
                <span asp-validation-for="bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hospital"></label>
                <input asp-for="hospital" class="form-control" placeholder="Enter Amount">
                <span asp-validation-for="hospital" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recieved"></label>
                <input asp-for="recieved" class="form-control" placeholder="Enter Amount">
                <span asp-validation-for="recieved" class="text-danger"></span>
            </div>




            <div>
                <input type="submit" class="btn btn-primary btn-block" value="Save" />
            </div>

        </form>
    </div>
</div>